<div class="parent-container">
  <div class="row">
    <div class="col">
      <h1> Momo Telepresence</h1>
    </div>
  </div>
  <!-- A new row with alerts hereish -->
  <div class="row">
    <div class="col">
      <div class="container-fluid">
        <div class="row">
          <div class="col-4">
            Speech Box:<br>
            <input type="text" name="speechbox" id="tp-speech-input" size="80">
            <input type="submit" value="Submit" id="tp-speech-btn">
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <label for="codebox">Write your code here:</label>
            <textarea rows="20" cols="80" id="tp-code-input" id="tp-text-box"></textarea>
            <input type="submit" value="Send Code" id="tp-code-btn">
          </div>
        </div>
      <!--End of first inner container-->
      </div>
    </div>
    <div class="col">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <div class="alert alert-success" id="tp-success" role="alert">
                A button command has been sent.
            </div>
            <div class="alert alert-danger" id="tp-fail" role="alert">
                A button command has failed.
            </div>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown"
              data-toggle='dropdown' aria-haspopup="true" aria-expanded="false">
              Scenarios</button>
              <div class="dropdown-menu" aria-labelledby="dropdown">
                {{#each scenarioKeys}}
                <a class="dropdown-item" href="/?scenario={{this}}">{{this}}</a>
              {{/each}}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          {{#each buttons}}
                <div class="col-4">
                  <button type="button" class="tp-button-action btn btn-primary btn-lg"
                  data-button-info= "{{@key}}">
                  <img src="{{thumbnail}}" id="tp-image-button" class="tp-button-action-image"></img>
                </button>
                </div>
          {{/each}}
      <!--End of second inner container-->
      </div>
    </div>
  </div>
</div>

<!--end of general container-->
</div>

<script type="text/javascript">
  var telepresence = {
    currentScenarioKey: "{{currentKey}}"
  };
</script>
<script src="/javascripts/telepresence.js"></script>
